[project]
	description = A very basic pathfinder character sheet app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Amanda Chappell (achappell)
[access "refs/for/refs/*"]
	read = group user/Amanda Chappell (achappell)
	push = group user/Amanda Chappell (achappell)
	label-Code-Review = -2..+2 group user/Amanda Chappell (achappell)
	label-Verified = -1..+1 group user/Amanda Chappell (achappell)
	rebase = group user/Amanda Chappell (achappell)
	removeReviewer = group user/Amanda Chappell (achappell)
	submit = group user/Amanda Chappell (achappell)
[access "refs/heads/*"]
	read = group user/Amanda Chappell (achappell)
	create = group user/Amanda Chappell (achappell)
	push = +force group user/Amanda Chappell (achappell)
	pushMerge = group user/Amanda Chappell (achappell)
[access "refs/tags/*"]
	push = +force group user/Amanda Chappell (achappell)
	pushTag = group user/Amanda Chappell (achappell)
	pushSignedTag = group user/Amanda Chappell (achappell)
